# Virtual Environments
.venv
.venv/*

# Cache Files
__pycache__
.ruff_cache

# Folders
data
data/*
old_scripts
output
logs

# Dictionary Files (PDF)
dictionary_files/old
dictionary_files/raw

# Config Files
.env

# Preliminary Functions
create_performance_data.py 
create_servicer_change_dataset.py 
match_gnma_loan_modifications.py
analyze_schemas.py
examine_schema_headers.py
example_usage.py
test_polars_cobol.py
example_use_downloader.py
example_use_schema_reader.py
gnma_schema_analyzer.py
